<div class="card-container">
  <a routerLink="/contacts"><button class="ut-button"><</button></a>
  <div *ngFor="let contact of contact" class="contact">
    <div class="name">{{ contact.name }}</div>
    <div>{{ contact.address }}</div>
    <div>Email: {{ contact.email }}</div>
    <div class="phones">
      <div>Home: {{ contact.home }}</div>
      <div>Mobile: {{ contact.mobile }}</div>
      <div>Work: {{ contact.work }}</div>
    </div>
    <div class="social">
      <div>Twitter: {{ contact.twitter }}</div>
      <div>IG: {{ contact.instagram }}</div>
      <div>Github: {{ contact.github }}</div>
    </div>
    <div class="function-buttons">
      <a routerLink="/contacts"><button>Edit</button></a>
      <a routerLink="/contacts"><button>Delete</button></a>
    </div>
  </div>
  <a routerLink="/contacts"><button class="ut-button">></button></a>
</div>
