.card-container {
  max-width: 70%;
  margin: 100px auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgb(252, 252, 252);
}

.contact {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 600px;
  padding: 20px;
  margin: 10px 10px 30px 10px;
  background-color: white;
  transition: 0.3s;
  .name {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .social {
    margin-top: 20px;
  }
  &:hover {
    border: 3px solid black;
  }
}
