.header-container {
  width: 100%;
  background: rgb(66, 66, 66);
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  .head {
    flex: 1;
    padding-left: 150px;
    text-transform: uppercase;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
    li {
      display: inline-block;
      padding: 0px 20px;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          color: rgb(255, 111, 0);
        }
      }
    }
  }
}
