.search-container {
  min-height: 100vh;
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.search-form {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  input {
    border-radius: 7px;
    width: 80%;
    padding: 15px;
  }

  button {
    border-radius: 7px;
    width: 14%;
  }

  button:focus {
    outline: 0;
  }

  input:focus {
    outline: 0;
  }
}
